:root {
  --master-bg-color: #f9f9f1;
  --sec-color-: #E06A44;
  --thir-color: #c7c7c7;
  --last-color: #ffffff;

  --bg-color: #f3f8fa;
  --white-color: #fff;
  --black-color: #282936;
  --ease-transition: cubic-bezier(0.65, 0, .076, 1);
  --duration-transition: 0.45s;
}

#informe-se {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3.5rem;
}

.titulo-informe {
  font-size: 2.8rem;
}

.paragrafo-informe {
  font-size: 1.6rem;
}

.agrupamento-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.container-1 {
  /* Add shadows to create the "card" effect */
  width: 19.7%;
  padding: 80px 10px;
  border: 5px solid #fff;
  border-radius: 3rem;
  background: linear-gradient(to bottom, #f7ad95 44%, #fff 44%);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.logo {
  position: relative;
  width: 8vw;
  bottom: 2rem;
}

.geracao-vegana {
  width: 8.23vw;
  border-radius: 100%;
}

.veganismo-org {
  background-color: white;
  border: 2px solid white;
  border-radius: 100%;
}


.container-info {
  display: flex;
  flex-direction: column;
}

.container-titulo-texto {
  display: flex;
  flex-direction: column;
}

.icon-compartilhar {
  padding-right: 0.5rem;
  transform: translateX(10px);
  transition: 1s ease all;
}

.acesse { 
  border-bottom: 2px solid #E06A44;
  font-size: 1.3rem;
  opacity: 0;
  position: absolute;
  transform: translateX(10px);
  transition: 0.5s ease all;
}
.container-1:hover {
  box-shadow: 0 8px 50px 0 rgba(0,0,0,0.3);

  .acesse {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s 0.1s ease-in opacity, 1.5s 0.0.3s cubic-bezier(.175, .885, .32, 1.275) transform;
  }

  .icon-compartilhar {
    transform: translateX(0);
    transition: 2s ease-in opacity, 1s  cubic-bezier(.175, .885, .32, 1.275) transform;
  }
}

.titulo-container { 
  position: relative;
  font-size: 1.6rem;
  top: -1rem;
}

.texto-container {
  width: 90%;
  display: flex;
  align-self: center;
  position: relative;
  top: 2rem;
}

.texto-info {
  font-size: 1.4rem;
  text-align: justify;
}

.redirecionamento {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5.5rem;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;

}

.redirecionamento-3 {
  top: 7.1rem;
}

