@media screen and (max-width: 375px) {
  #diferencas {
    margin-top: -4.5rem;
    display: flex;
    flex-direction: column;
  }
  .container-right {
    margin: 0;
  }

  .container-principal-diferencas {
    display: flex;
    flex-direction: column;
  }
 
  .titulo-diferencas {
    display: flex;
    font-size: 1.8rem;
  }

  .paragrafo-diferencas {
    width: 94%;
    font-size: 1.28rem;
  }
  
  .container-paragrafo {
    width: 90%;
  }

}

@media screen and (max-width:600px){
  .container-left {
    margin: 0;
  }
  
  .paragrafo-diferencas {
    width: 90%;
    align-self: center;
    font-size: 1.33rem;
  }

  .titulo-diferencas {
    align-self: center;
    font-size: 2rem;
  }

  .image-3 {
    margin: 0;
    width: 90vw;
    display: flex;
    position: relative;
    left: 2rem;
  }

  .container-paragrafo {
    align-self: center;
    width: 82%;
  }

  .texto-paragrafo {
    font-size: 1.3rem;
    width: 100%;
  }

}